/* globals.css */

@layer theme, base, utilities;

@import 'tailwindcss/theme.css' layer(theme);
@import 'tailwindcss/preflight.css' layer(base);
@import 'tailwindcss/utilities.css' layer(utilities);

:root {
  /* 색상 변수는 쉼표 없는 RGB 값으로 정의 */
  --background: 255 255 255;
  --color-primary: 146 218 205;
  --color-secondary: 194 230 230;
  --color-foreground: 255 249 229;
  --color-foreground-subtle: 255 236 158;
  --color-foreground-inverse: 238 225 200;

  --color-font: 131 113 86;
  --color-font-accent: 254 211 3;

  --font-mainFontR: 'var(--font-mainFontR)', sans-serif;
  --font-mainFontB: 'var(--font-mainFontB)', sans-serif;
}

@layer base {
  body {
    background-color: rgb(var(--background));
    color: rgb(var(--color-font));
    font-family: var(--font-mainFontR);
  }
}
