/* globals.css */

@layer theme, base, utilities;

@import 'tailwindcss/theme.css' layer(theme);
@import 'tailwindcss/preflight.css' layer(base);
@import 'tailwindcss/utilities.css' layer(utilities);

:root {
  --background: rgb(255, 255, 255);

  /* 주요 색상 */
  --color-primary: rgb(146, 218, 205);
  --color-secondary: rgb(194, 230, 230);

  /* 전경/컨테이너 색상 */
  --color-foreground: rgb(255, 249, 229);
  --color-foreground-subtle: rgb(255, 236, 158);
  --color-foreground-inverse: rgb(238, 225, 200);

  /* 폰트 색상 */
  --color-font: rgb(131, 113, 86);
  --color-font-secondary: rgb(131, 113, 86);
  --color-font-accent: rgb(254, 211, 3);

  --font-mainFontR: 'var(--font-mainFontR)', sans-serif;
  --font-mainFontB: 'var(--font-mainFontB)', sans-serif;
}

@layer base {
  body {
    background-color: rgb(var(--background));
    color: var(--color-font);
    font-family: var(--font-mainFontR);
  }
}
